<h2>{{'loginPage.title' | translate}}</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">{{'loginPage.usernameLabel' | translate}}</label>
    <input type="text" formControlName="username" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">{{'loginPage.usernameAlert' | translate}}</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">{{'loginPage.passwordLabel' | translate}}</label>
    <input type="password" formControlName="password" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">{{'loginPage.passwordAlert' | translate}}</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      <span>{{'button.login' | translate}}</span>
    </button>
    <a routerLink="/register" class="btn btn-link">{{'button.register'|translate}}</a>
  </div>
</form>
