<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" Home>{{'navigation.home'|translate}}</a>
    <a class="nav-item nav-link" (click)="logout()">{{'navigation.logout'|translate}}</a>
    <button class="btn btn-light rounded-pill" (click)="useLanguage('en')">en</button>
    <button class="btn btn-light rounded-pill" (click)="useLanguage('de')">de</button>
    <button class="btn btn-light rounded-pill" (click)="useLanguage('id')">id</button>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
