<h2 i18n="Register Page Heading|Heading for register page @@RegisterHeading">Register Page</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName" i18n="User First Name|First name for registering @@FirstName">First Name</label>
    <input type="text" formControlName="firstName" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required"
           i18n="Empty First Name|Alert when first name is empty @@FirstNameAlert">First Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName" i18n="User Last Name|Last name for registering @@LastName">Last Name</label>
    <input type="text" formControlName="lastName" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required"
           i18n="Empty Last Name|Alert when last name is empty @@LastNameAlert"
      >Last Name is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="username" i18n="Login Username|User name used for login later @@LoginUsername">Username</label>
    <input type="text" formControlName="username" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required"
           i18n="Empty Username|Alert when username is empty @@UsernameAlert"
      >Username is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password" i18n="Login Password|Password label for login page @@LoginPassword">Password</label>
    <input type="password" formControlName="password" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required"
           i18n="Empty Password|Alert when password is empty @@PasswordAlert">Password is required</div>
      <div *ngIf="f.password.errors.minlength"
           i18n="Password Insufficient|Alert when password is less than 6 characters @@PasswordCharacterAlert">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      <span i18n="Register Button|Register button for login page @@RegisterButton">Register</span>
    </button>
    <a routerLink="/login" class="btn btn-link" i18n="Cancel Button|Button for cancelling @@CancelButton">Cancel</a>
  </div>
</form>
